{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Cargar nueva presentación
{% endblock titulo_pagina %}


{% block contenido %}


    {% load crispy_forms_tags %}
        <div class="row d-flex justify-content-center">
            <div class="container m-5 p-5 alert-dark">
                <h2 align="center">Crear nueva presentación</h2>
                <form method="post" class="form">
                    {% csrf_token %}

                    {{  form|crispy }}
                    <input type="submit" class="btn btn-warning btn-block" value="Cargar nuevo" />
                </form>
            </div>
        </div>
   
{% endblock %}

