{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Presentación {% endblock %}

{% block contenido %}

    {% if object_list %}
        {% load static %}    
            <h1 id="titulo" align="center">Presentación:</h1>
            
            {% if request.user.username %}
                <a href="{% url 'carga nueva presentacion' %}" class="btn btn-info mb-2 botonera_y_paginacion"><i class="far fa-plus-square"></i> Nueva Presentación</a> 
            {% endif %}
            
            {% for elemento in object_list %}
                <div class = "m-2 p-4 alert-dark">
                    <span>Fecha: {{ elemento.fecha_creacion }} </span>
                    {% if request.user.username %}
                    <div style="float:right;">
                        <a href="{% url 'actualizar presentacion' elemento.id %}" class="btn btn-warning ml-2 mr-2"><i class="fas fa-edit" title="Editar"></i> </a></td>
                        <a href="{% url 'borra una presentacion' elemento.id %}" class="btn btn-danger"><i class="fas fa-trash-alt" title="Borrar"></i></a> </td>
                    </div>
                    {% endif %}
                    <br>
                    <h3 align="center" class="mb-3">{{ elemento.titulo }}</h3>
    
                    <p>{{ elemento.texto_presentacion }}</p>
                    
                </div>
                <hr>
                {% endfor %}
    
    {% else %}
            <h3 align="center" class="mt-5">Todavía no hay presentación(es) creada(s). <a href="{% url 'carga nueva presentacion' %}">Creá una.</a></h3>
    {% endif %}

    
{% endblock %}

