{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Actualizar una categoría
{% endblock titulo_pagina %}

    {% load crispy_forms_tags %}

{% block contenido %}


    <div class="container m-5 alert-dark p-3">
        <h2>Actualizar esta categoría</h2>
        <form method="post" class="form">
            {% csrf_token %}

            {{  form|crispy }}
            <input type="submit" class="btn btn-warning btn-block" value="Actualizar" />
        </form>
    </div>

{% endblock %}