{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Elibre222 - taller de multimedia experimental. Fotos, software libre, gifs animados y música engendra. {% endblock %}

{% block contenido %}

    {% if object_list %}
        {% load static %}    
            <h1 id="titulo" align="center">Categorías:</h1>
                <a href="{% url 'carga nueva categoria' %}" class="btn btn-info mb-2 botonera_y_paginacion"><i class="far fa-plus-square"></i> Nueva Categoría</a> 
            <table class="table table-bordered alert-dark text-center">
                <thead>
                    <th>Nombre de la categoría</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </thead>
                <tbody>
                    {% for categoria in object_list %}
                    <tr>
                        <td>{{ categoria.nombre }}</td>
                        
                        <td><a href="{% url 'actualizar categoria' categoria.id %}" class="btn btn-warning"><i class="fas fa-edit"></i></a> </td>
                        <td><a href="{% url 'borra una categoria' categoria.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a> </td>
                    </tr>
                    {% endfor %}
                    

                </tbody>
                
            </table>
    
    {% else %}
            <h3>Todavía no hay Categorías. <a href="{% url 'carga nueva categoria' %}">Creá una.</a></h3>
    {% endif %}

    
{% endblock %}

