{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Cargar nueva publicación
{% endblock titulo_pagina %}


{% block contenido %}

    {% if listo_categoria %}
        {% load crispy_forms_tags %}
            <div class="row d-flex justify-content-center">
                <div class="container m-5 p-5 alert-dark">
                    <h2 align="center">Crear nueva publicación</h2>
                    <form method="post" class="form"  enctype="multipart/form-data">
                        {% csrf_token %}

                        {{  form|crispy }}
                        <input type="submit" class="btn btn-info btn-block" value="Cargar nuevo" />
                    </form>
                </div>
            </div>
    {% else %}
        <h3 align="center" class="mt-5">Antes de publicar algo, tenés que cargar al menos una <a href="{% url 'carga nueva categoria' %}">categoría</a></h3>
    {% endif %}

{% endblock %}

