{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Borrar Publicación	
{% endblock titulo_pagina %}

{% block contenido %}

<div class="container text-center alert-danger">

    <h2>Borrar publiación</h2>

    <form method="post" class="form">
        {% csrf_token %}
        ¿Seguro que querés borrar: "{{ object }}"?
        <br>
        <input class="btn btn-danger" type="submit" value="Sí, borrar"/>
    </form>
</div>

{% endblock %}