{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Cargar nueva publicación
{% endblock titulo_pagina %}


{% block contenido %}

            <div class = "m-2 p-4">
                <span class="text-end">Fecha: {{ publicacion.fecha_creacion }} </span><br>
                <h2 align="center">{{ publicacion.titulo }}</h2>
                <hr>
                <div class="text-center">
                    <img src="{{ publicacion.imagen.url }}" class="img-fluid" id="imagen_fondito" alt="imagen">
                </div>
                    <br><br>
                <p>
                    {{ publicacion.texto }}
                </p>
               
                <br>
                <br>
            </div>
               
          
                
           
{% endblock %}
