{% extends "plantilla/base.html" %}

{% block titulo_pagina %}
	Actualizar una publicación
{% endblock titulo_pagina %}


{% block contenido %}

    {% load crispy_forms_tags %}

    <div class="container m-5">
        <h2>Actualizar esta publicación</h2>
        <form method="post" class="form">
            {% csrf_token %}

            {{  form|crispy }}
            <input type="submit" class="btn btn-warning btn-block" value="Actualizar" />
        </form>
    </div>

{% endblock %}