{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Taller mulltimedia generalizado para los delirios espaciales {% endblock %}

{% block contenido %}

    {% if object_list %}
          
            <h1 id="titulo" align="center">Últimas publicaciones:</h1>

        
                {% for elemento in object_list %}
                <div class = "m-2 p-3 text-center alert-dark" id="fondo_publicacion_principal">
                    <span>Fecha: {{ elemento.fecha_creacion }} </span><br>
                    <h2>{{ elemento.titulo }}</h2>
                    {% if elemento.imagen.url %}
                    <img src="{{ elemento.imagen.url }}" width="500px" class="img-fluid" alt="imagen" id="imagen_fondito" height="250px">
                    <br><br>
                    {% endif %} 
                    <h5>{{ elemento.resumen }}</h5>
                    <br>
                    <a href="{% url 'publicacion' elemento.id %}" class="btn btn-block btn-dark" id="boton_leer">Leer...</a>
                    <br>
                </div>
                <hr>
                {% endfor %}
                    

                {% if page_obj.paginator.num_pages > 1  %}
                
                    {% include 'paginador.html' %}
        
                {% endif %}
         
    
    {% else %}
            <h3 align="center" class="mt-5">Todavía no hay publicaciones. <a href="{% url 'carga nueva publicacion' %}">Creá una (si sos el usuario de acá, claro)</a></h3>
    {% endif %}

    
{% endblock %}

