<div class="pagination p-2 alert-info mb-1 d-flex align-items-center justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primero</a> |
            <a href="?page={{ page_obj.previous_page_number }}"> Previo</a>
        {% endif %}
                    
            -
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> Siguiente </a> |
            <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
        {% endif %}
    </span>
</div>