{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Elibre222 - taller de multimedia experimental. Fotos, software libre, gifs animados y música engendra. {% endblock %}

{% block contenido %}

    {% if object_list %}
          
            <h1 id="titulo" align="center">Últimas publicaciones:</h1>

            {% if request.user.username %}
                <a href="{% url 'carga nueva publicacion' %}" class="btn btn-info mb-2 botonera_y_paginacion"><i class="far fa-plus-square"></i> Nueva Publicación</a> 
            {% endif %}
                <table class="table table-bordered alert-dark text-center">
            
                <thead>
                    <th>Titulo de la publicación</th>
                    <th>Resumen</th>
                    <th>Ver</th>
                    {% if request.user.username %}
                        <th>Accciones</th>
                    {% endif %}
                </thead>
                <tbody>
                    {% for publicacion in object_list %}
                    <tr>
                        <td>{{ publicacion.titulo }}</td>
                        <td>{{ publicacion.resumen }}</td>
                        <td><a href="{% url 'publicacion' publicacion.id %}" class="btn btn-info mr-2"> <i class="far fa-eye"></i></a></td>
                       
                        {% if request.user.username %}
                            <td>
                                <a href="{% url 'actualizar publicacion' publicacion.id %}" class="btn btn-warning mr-2"><i class="fas fa-edit"></i></a> 
                                <a href="{% url 'borra una publicacion' publicacion.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a> 
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    

                </tbody>
                
            </table>
            

                {% if page_obj.paginator.num_pages > 1  %}
                
                    {% include 'paginador.html' %}
        
                {% endif %}
         
    
    {% else %}
            <h3 align="center" class="mt-5">Todavía no hay publicaciones. <a href="{% url 'carga nueva publicacion' %}">Creá una (si sos el usuario de acá, claro)</a></h3>
    {% endif %}

    
{% endblock %}

