#titulo {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  font-family: "Courier New";
  border-right: 0.15em solid #0b566b;
  animation: typing 4s steps(31) 1s infinite alternate-reverse both, blink 1s steps(1) infinite;

}

@keyframes typing {
  from {
      width: 0;
  }

  to {
      width: 105%;
  }
}

@keyframes blink {
  50% {
      border-color: red;
  }
}

h1{
  text-decoration-color: blue;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px; /* Ajusta este valor según tus preferencias */
  line-height: 1.8;
  margin-bottom: 10px;
}


#tabla-resultados{
  margin: auto;
  width: 100%;
}

/* algunas cosillas de Datatables */
.dataTables_filter input {
  align-items: center;
  width: 300px
}
.dataTables_filter input:focus {
  background-color: yellow;
}

.dt-button{
  margin-bottom: 5px;
}

.navbar{
  margin-left:-10px;
  margin-right:-30px;
  }

.navbar-inner{
padding-left:0;
padding-right:0;
}  

  
  
  