{% comment %} barra de navegacion {% endcomment %}
{% load static %}
<nav class="navbar navbar-expand-lg alert-dark" id="barra_superior">
    <a class="navbar-brand" href="/"><img src="{%static 'elibre.png'%}" alt="Logo Elibre" width="150" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse items-navegacion" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link btn btn-info m-2" href="/">Inicio</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link btn btn-info m-2" href="{% url 'muestra presentacion' %}">Presentación</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link btn btn-info m-2" href="{% url 'tabla de entradas' %}">Tabla de Entradas</a>
        </li>
        
      </ul>
          
    </div>
   

         <!-- Derecha de la barra -->
         <ul style="float:right;">            
          <!-- Authentication Links -->
                  
              {% if request.user.username %}
                  
                  <div class="nav-item dropdown mr-5">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Usuario: <span id="usuLogueado">{{ request.user.username }}</span> 
                      </a>
                      
                      <div class="dropdown-menu animate__animated animate__fadeInUp mr-5" aria-labelledby="navbarDropdownMenuLink">
                    
                        <a class="dropdown-item alert-info" href="{% url 'actualizar mis datos' user.id %}">Actualizar mis datos</a>
                        <a class="dropdown-item alert-info" href="{% url 'carga nueva publicacion' %}">Nueva Publicación</a> 
                        <a class="dropdown-item alert-info" href="{% url 'lista categorias' %}">Categorías</a>
                        <a class="dropdown-item alert-info" href="{% url 'cerrar sesion usuario' %}">Salir</a>    

                      </div>
                  </div>
  
              {% else %}
                  <div class="nav-item mr-5" style="float:left;">
                      <a class="nav-link" href="/ingreso/login/"><span class="text-primary"><i class="fas fa-user-lock"></i> Ingresar</span></a>
                  </div>
                  {% comment %} <div class="nav-item" style="float:right;">
                      <a class="nav-link" href="/usuarios/registrar"><span class="text-light"><i class="fas fa-user-astronaut"></i> Registrarse</span></a>
                  </div> {% endcomment %}
  
              {% endif %}
         
          </ul>


  </nav>