<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} para que se renueven los archivos javascript {% endcomment %}
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">


    {% load static %}
    <!-- Favicon-->
    <link rel="icon" type="image/jpg" href="{% static 'imagenes/logo-enlace-libre.png' %}">

    <!-- link a bootstrap, sweetalert2  y Datatables-->
    <link rel="stylesheet" href="{% static 'bootstrap-local/css/bootstrap.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'sweetAlert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'animatecss/animate.min.css' %}">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.2-web/css/all.min.css' %}">
    
    <!-- select2 -->
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">

    <!-- Datatables -->
    <link rel="stylesheet" href="{% static 'Datatables/jquery.dataTables.min.css' %}">

     <!-- Estilo local -->
     <link rel="stylesheet" href="{% static 'css/estilo_local.css' %}">
    
    <title>{% block titulo_pagina %} {% endblock %}</title>
</head>
<body id="colores_fondo">

   
      {% include 'plantilla/barra_superior.html' %}

      {% if messages %}
          {% for message in messages %}
      
            {% if message.tags == 'error' %}
              <div class="alert-danger animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
            {% elif message.tags == 'success' %}
              <div class="alert-success animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
            {% elif message.tags == 'info' %}
              <div class="alert-info animate__animated animate__fadeInRightBig text-center p-3 m-3"><h3> {{message}} </h3></div>
            {% endif %}

          {% endfor %}
      {% endif %} 
  
  <div class="p-2 m-2">
    {% block contenido %}

    {% endblock %}
  </div> 

    <!-- #region ZONA DE SCRIPTS -->

    <!-- FONT AWESOME PARA ICONOS -->
    <script src="{% static 'fontawesome-free-5.15.2-web/js/all.min.js' %}"></script>

    <!-- scripts a Jquery, bootstrap, sweetAlert2, select2 y DataTables  -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-local/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sweetAlert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>

    <!-- DATATABLES -->
    <script src="{% static 'Datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'Datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'Datatables/jszip.min.js' %}"></script>
    <script src="{% static 'Datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'Datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'Datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'Datatables/buttons.print.min.js' %}"></script>
  
    <!-- #endregion -->

    <script src="{% static 'js/resultados_datatables.js' %}"></script>
    <script src="{% static 'js/busqueda_select2.js' %}"></script>


    {% block scriptExtra %}

    {% endblock %}

</body>
</html>