{% extends 'plantilla/base.html' %}

{% block titulo_pagina %} Actualizar Datos {% endblock %}
{% block contenido %}

  {% load crispy_forms_tags %}
  <div class="row d-flex justify-content-center">
      <div class="m-5 p-5 alert-success" style="width:400px;"> 
        <h2 align="center">Actualizar Datos</h2>
        <br>
        <form method="post">
        {% csrf_token %}
          
          {{ form|crispy }}
      
          <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
        </form>
    </div>
  </div>

{% endblock %}